<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
   body{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}

h1{
padding:40px 140px;
background-color:red;
}

a{
padding: 530px;
}
    </style>
</head>
<body>
<h1>You are not The right voter :IDENTITY:{{name}}</h1>
<a href="/">Click here to go back to authentication</a>
</body>
</html>