<html>
<head>
<title>success</title>
     <link rel="stylesheet" type="text/css" href="css/style.css">

    <style>
body{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
p{
width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;}

a{
width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;}


}
</style>


</head>
<body>
<p>File uploaded successfully</p>
<p>File Name: {{name}}</p>
<a href="/check"><button>click on it</button></a>
</body>
</html>